html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-container .el-main[data-v-8dc7cce2]{
    font-weight: normal;
    font-size: 18px;
}
.el-card{
    margin-top: 15px;
}
.el-pagination{
    margin-top: 15px;
}
.el-table{
    margin-top: 15px;
}